.customContainer {
  width: 350px;
  margin: 0 auto;
}

.wrapper {
  width: 350px;
  border: 2px solid #e1e1e1;
  margin: 0 auto;
  margin-top: 100px;
  display: inline-block;
  padding-bottom: 10px;
}

.wrapperScreen {
  height: 385px;
}

.signUp {
  color: #58a2e8;
  text-align: center;
}

.barImage {
  width: 100%;
}

.borderBottom {
  border: 1px solid #d2d2d2;
}

.nextBtn {
  padding-right: 15px;
}
